<!DOCTYPE html>

<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Organiser | Register</title>
    <meta name="description" content="" />

    <link rel="stylesheet" th:href="@{../toast/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{../assets/vendor/fonts/boxicons.css}" />
    <link rel="stylesheet" th:href="@{../assets/vendor/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{../assets/vendor/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{../assets/css/demo.css}" />
    <link rel="stylesheet" th:href="@{../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{../assets/vendor/css/pages/page-auth.css}" />


    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>

<script>
  $(document).ready(function() {
    $('.PandT').click(function() {
      console.log("hello")
      $('.modal').fadeIn();
    });
    $('.close-modal').click(function() {
      $('.modal').fadeOut();
    });
  });
</script>

  <body>
    <div class="modal">
      <div class="modal-content">
        <p><b>Privacy Policy:</b>
          We are committed to protecting the privacy of our users. We collect personal information such as name, email address, and phone number to provide access to our exam portal services. We may also use this information to send updates and notifications about our services. We do not share personal information with third parties except as required by law or to provide our services. We use appropriate security measures to protect personal information from unauthorized access and disclosure.<br>
          <br><b>Terms of Use:</b><br>
          By accessing our exam portal services, you agree to the following terms and conditions:
        <ul>
          <li>You must provide accurate and complete personal information to create an account.</li>
          <li>You are responsible for maintaining the confidentiality of your account login information.</li>
          <li>You must not use our services for any illegal or unauthorized purpose.</li>
          <li>You agree to comply with all applicable laws and regulations.</li>
      </ul>
          We reserve the right to suspend or terminate your account for any reason, including but not limited to violation of these terms.
          We may update these terms at any time without notice. It is your responsibility to review the terms periodically.
          By using our exam portal services, you acknowledge that you have read and agree to these terms and our privacy policy. </p>
        <button class="close-modal">Close</button>
      </div>
    </div>

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a th:href="@{/}" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                  <img th:src="@{../assets/img/favicon/favicon.ico}" alt="logo">
                  </span>
                  <span class="app-brand-text demo text-body fw-bolder">Testmate</span>
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Organisers can register here 🚀</h4>
              <p class="mb-4">Make your dashboard management easy and fun!</p>

              <form id="formAuthentication" class="mb-3" th:action="@{/organiser/register}" method="POST" th:object="${organiser}">
                <div class="mb-3">
                  <label for="username" class="form-label">Full Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                    th:field="*{name}"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" th:field="*{email}" required/>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                      th:field="*{password}"
                      required
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" required/>
                    <label class="form-check-label" for="terms-conditions">
                      I agree to
                      <a href="javascript:void(0);" class="PandT">privacy policy & terms</a>
                    </label>
                  </div>
                </div>
                <button class="btn btn-primary d-grid w-100">Sign up</button>
              </form>

              <p class="text-center">
                <span>Already have an account?</span>
                <a th:href="@{/organiser/login}">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>

    <script src="../assets/js/main.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
