<!DOCTYPE >
<html
        lang="en"
        class="light-style"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>TestMate</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" th:href="@{/testmate-homecss/css/bootstrap.css}" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/testmate-homecss/css/style.css}" rel="stylesheet" />
  <!-- responsive style -->
  <link th:href="@{/testmate-homecss/css/responsive.css}" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              TestMate
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contactLink">Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container ">
              <a href="">
                <img src="../../static/testmate-homecss/images/call.png" alt="">
                <span>
                  Call : + 91 0000xxxxxx
                </span>
              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail_box">
                    <h1>
                    One Stop For Online Examination...
                    </h1>
                    <p>

                    </p>
                    <div class="btn-box">
                      <a href="/organiser/login" class="btn-1">
                        Admin Login
                      </a>
                      <a  th:href="@{/student/gotoexam}" class="btn-2">
                        Student Login
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="../../static/testmate-homecss/images/slider-img2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../static/testmate-homecss/images/2668382.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Welcome to TestMate, the ultimate online exam portal designed to enhance your learning and assessment experience.
              Whether you are a student preparing for an important test, an educator looking for a comprehensive evaluation tool,
              or an organization seeking efficient and secure examination solutions, TestMate is here to simplify the process and maximize your success.
            </p>
            <a href="/about">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- team section -->

  <section class="team_section layout_padding2-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Meet The Team
        </h2>
        <p>
          Welcome to ExamPortal, the ultimate online platform for test preparation! At ExamPortal, we understand the importance of having a dedicated and skilled team
          behind a successful website and app. Allow us to introduce you to the talented individuals who make up our TestMate team, the driving force behind our platform's excellence.
        </p>
      </div>
    </div>
    <div class="team_container">
      <div class="box b-1">
        <div class="img-box">
          <img src="../../static/testmate-homecss/images/t-1.jpg" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Utkarsh Yadav
          </h5>
          <p>
            Utkarsh is the visionary behind ExamPortal. With his passion for education and technology, he established ExamPortal to revolutionize the way students prepare for exams.
            Utkarsh's leadership and strategic expertise have guided the team to develop innovative solutions for test preparation. He also manages the backend of of
          </p>
          <div class="social_box">
            <a href=" https://github.com/Rytnix">
              <img src="../../static/testmate-homecss/images/github.png" alt="">
            </a>
            <a href="https://twitter.com/_utkarsh_y">
              <img src="../../static/testmate-homecss/images/twitter.png" alt="">
            </a>
            <a href=" https://linkedin.com/in/utkarsh1510">
              <img src="../../static/testmate-homecss/images/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="box b-2">
        <div class="img-box">
          <img src="../../static/testmate-homecss/images/t-2.jpg" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Gaurav Mishra
          </h5>
          <p>
            Gaurav is a creative genius behind the appealing design of our website and app. With his expertise in user experience (UX) and user interface (UI) design,
            Gaurav ensures that our platform is visually engaging, intuitive, and easy to navigate.
            He focuses on creating a seamless user journey, making studying on ExamPortal an enjoyable experience.
          </p>
          <div class="social_box">
            <a href="https://github.com/gaurav-9648">
              <img src="../../static/testmate-homecss/images/github.png" alt="">
            </a>
            <a href="https://twitter.com/RockGaurav96">
              <img src="../../static/testmate-homecss/images/twitter.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/gaurav-mishra-508610203/">
              <img src="../../static/testmate-homecss/images/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="box b-3">
        <div class="img-box">
          <img src="../../static/testmate-homecss/images/t-3.jpeg" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Atif
          </h5>
          <p>
            Atif plays a critical role in ensuring the quality and reliability of ExamPortal's features and functionalities.
            He conducts rigorous testing and debugging to identify and fix any potential issues, ensuring that our platform operates flawlessly.
            Atif dedication to maintaining a high standard of quality guarantees a seamless learning experience for our users.
          </p>
          <div class="social_box">
            <a href="https://github.com/atifameer786">
              <img src="../../static/testmate-homecss/images/github.png" alt="">
            </a>
            <a href="">
              <img src="../../static/testmate-homecss/images/twitter.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/atif-ameer-194019195">
              <img src="../../static/testmate-homecss/images/linkedin.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->
  <div class="footer_bg">
    <!-- contact section -->
    <section class="contact_section layout_padding" id="contactLink">
      <div class="container">
        <div class="heading_container">
          <h2>
            Get In touch
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="inputName4" placeholder="Name ">
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email id">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" id="inputSubject4" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" placeholder="Message">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <!-- end contact section -->



    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info_logo">
              <h3>
                Testmate
              </h3>
              <p>
                What sets TestMate apart is our commitment to excellence and innovation.
                Our team of experts has meticulously crafted a feature-rich web application that caters to the diverse needs of students.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_links">
              <h4>
                BASIC LINKS
              </h4>
              <ul class="  ">
                <li class=" active">
                  <a class="" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="about.html"> About</a>
                </li>
                <li class="">
                  <a class="" href="#contactLink">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_contact">
              <h4>
                CONTACT DETAILS
              </h4>
              <a href="">
                <div class="img-box">
                  <img src="../../static/testmate-homecss/images/telephone-white.png" width="12px" alt="">
                </div>
                <p>
                  +91 000XXXXX
                </p>
              </a>
              <a href="">
                <div class="img-box">
                  <img src="../../static/testmate-homecss/images/envelope-white.png" width="18px" alt="">
                </div>
                <p>
                  exam.testmate@gmail.com
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
              <h4>
                NEWSLETTER
              </h4>
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="">
                  <img src="../../static/testmate-homecss/images/info-twitter.png" alt="">
                </a>
                <a href="">
                  <img src="../../static/testmate-homecss/images/info-linkedin.png" alt="">
                </a>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
    <section class="container-fluid footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Right Reserved By TestMate
        </p>
      </div>
    </section>
    <!-- footer section -->

  </div>

  <script type="text/javascript" th:src="@{/testmate-homecss/js/jquery-3.4.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/testmate-homecss/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/testmate-homecss/js/custom.js}"></script>

</body>

</html>